<launch>
  <!-- common arguments -->
  <arg name="cam_index" />

  <node pkg="detectron2_ros" type="detectron2_ros_for_env_sensing.py" name="detectron2_ros_$(arg cam_index)" output="screen"><!--  output="screen" -->
    <param name="cam_index"                       value="$(arg cam_index)" />
  </node>
</launch>