<launch>
  <!-- common arguments -->
  <arg name="cam_index" />
  <arg name="detection_threshold" default="0.2" />
  <arg name="generate_image_from_pcd" default="false" />

  <!-- mask_rcnn_X_101_32x8d_FPN_3x mask_rcnn_R_101_FPN_3x mask_rcnn_R_101_DC5_3x mask_rcnn_R_101_C4_3x mask_rcnn_R_50_FPN_3x-->

  <!-- ======================================================================================= -->
  <!-- |               name               | inference time [s/im] | fps  boxAP | maskAP | -->
  <!-- ============================================================================= -->
  <!-- | mask_rcnn_X_101_32x8d_FPN_3x     | 0.103                 | 44.3  | 39.5   | -->
  <!-- ============================================================================= -->
  <!-- | mask_rcnn_R_101_FPN_3x           | 0.056                 | 42.9  | 38.6   | -->
  <!-- ============================================================================= -->
  <!-- | mask_rcnn_R_101_DC5_3x           | 0.092                 | 41.9  | 37.3   | -->
  <!-- ============================================================================= -->
  <!-- | mask_rcnn_R_101_C4_3x            | 0.145                 | 42.6  | 36.7   | -->
  <!-- ============================================================================= -->
  <!-- | mask_rcnn_R_50_FPN_3x            | 0.043                 | 41.0  | 37.2   | -->
  <!-- ============================================================================= -->

  <arg name="model_name"          default="mask_rcnn_X_101_32x8d_FPN_3x" />

  <arg name="model"               default="$(find detectron2_ros)/detectron2/configs/COCO-InstanceSegmentation/$(arg model_name).yaml" />
  <arg name="weight"              default="/MODEL_ZOO/$(arg model_name).pkl" />
  <arg name="visualization"       default="true" />
  <arg name="publish_rate"        default="100" />

  <node pkg="detectron2_ros" type="detectron2_ros" name="detectron2_ros_$(arg cam_index)" ><!--  output="screen" -->
    <param name="cam_index"                       value="$(arg cam_index)" />
    <param name="detection_threshold"             value="$(arg detection_threshold)" />
    <param name="model"                           value="$(arg model)" />
    <param name="weight"                          value="$(arg weight)" />
    <param name="visualization"                   value="$(arg visualization)" />
    <param name="publish_rate"                    value="$(arg publish_rate)" />
    <param name="generate_image_from_pcd"         value="$(arg generate_image_from_pcd)" />
  </node>
</launch>